.main{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

#salta{
  height:70%;
  width: auto;
  object-fit: contain;
  margin-top: 20px;
}

span{
  background: linear-gradient(to right, rgb(170, 79, 195), rgb(169, 96, 96));
  font-size: 4vmax;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  text-align: center;
}

button{
  width:180px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  font-weight: 900;
  background-color: rgb(146, 190, 192);
  box-shadow: 2px 2px 100px  rgb(85, 247, 255);
  color: black;
  transition: all 0.3s ease-in-out;
}

button:hover{
  cursor: pointer;
  background-color: rgb(85, 247, 255);
  box-shadow: 2px 2px 100px  rgb(146, 190, 192);
}